head {
    font-family: sans-serif;
}

body {
    font-family: sans-serif;
}

a:link {
    color: black ;
    background-color: transparent;
    text-decoration: double;
}
a:hover {
    color:deeppink ;
    background-color: transparent;
    text-decoration: double;
}
a:active{
    color:red;
    background-color: transparent;
    text-decoration: line-through;
}
a:link, a:visited {
    background-color: azure;
    padding: 15px 25px;
    text-align: center;
    display: inline-block
}
a:hover, a:active {
    background-color: black;
}